<body style="background-color: black; color: white">
  <form action="/admin" method="POST">
    <input type="text" name="key" required autocomplete="off" />
    <button type="submit">Delete</button>
  </form>
</body>
