<body style="background-color: black; color: white">
  <table>
    <thead>
      <tr>
        <th>Full</th>
        <th>Short</th>
      </tr>
    </thead>
    <tbody>
      <% for (const key in data) { %>
      <tr>
        <td>
          <a href="<%= data[key] %>"><%= data[key] %></a>
        </td>
        <td>
          <a href="<%= key %>"><%= key %></a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>
